<h2>List of my most favorite type of muffins</h2>
<ul>
  <li class="midlaner">blueberry</li>
  <li class="midlaner">poppyseed</li>
  <li class="toplaner">chocolate chip</li>
  <li class="midlaner">banana</li>
</ul>