*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Open Sans";
}

.header{
	width: 100%;
	height: 100px;
	display: block;
	background-color: #011B67;
	position: sticky;
}
.inner_header{
	width: 95%;
	height: 100%;
	display: block;
	margin: 0 auto;
	color: white;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}
.logo_container h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
/* span {
	font-weight: lighter;
} */

.navigation{
	float: right;
	height: 100%;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 15px;
}
.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	
}

.navigation button {
  background-color: #011B67;
  border: none;
  border-radius: 100%; 
  color: white;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font-weight:bold;
  cursor: pointer;
}
.navigation button:hover {color: #BCBCBC}

.navigation button:active {
 color: #BCBCBC;
}

.sidebar-left{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  display: block;
  float: left;
  overflow: hidden;
}

.sidebar-right{
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 10%;
	float: right;
	display: block;
	overflow: hidden;
}

.sidebar-image {
	background-repeat: repeat-y;
	border-radius: 4px;
}

.inner-body {
	width: 70%;
	height: 100%;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

.body-list {
	list-style-type: square;
	text-align: left;
	font-size: larger;
	margin-left: 10%;
}